body{
    margin: 0;
    font-family: Raleway, sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.head{
    display: flex;
    justify-content: space-between;
}
.container-fluid-head{
    background-color: grey;
}
.item-head{
    font-size: 13px;
    color: #bbbfc9;
    font-family: Raleway, sans-serif;
}
.item-head>span{
    color: white;
}
/* .container-head{
    padding: ;  
} */
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.menu-parent{
    list-style: none;
    padding: 0;
    display: flex;
}
.menu-parent>.item-menu>a{
    color: #60646d;
    font-size: 16px;
}
.menu-parent>.item-menu:first-child a{
    background-color: #67c9e0;
    color: #fff;
}
.item-menu:hover{
    background-color:#67c9e0;
}
.item-menu:hover>a{
    color: white;
}
.item-menu>a{
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.right{
    width: 750px;
}

/*  */

* {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}

.slideshow-container {
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
    
.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
.row{
    display: flex;
    justify-content: space-between;
}
.row-4{
    display: flex;
    width: 720px;
    flex-wrap: wrap;
    flex-direction: row;  
}

/* .fa,.fas{
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1; */
/* } */
.fa{
    font-family: 'Font Awesome 5 Free' ;
}
.fa-plus-square::before{
    content: "\f0fe";
    position: absolute;
    left: -80px;
    top: 24px;
    font-size: 60px;
    color: #67c9e0;
}
.fa-medkit::before{
    content: "\f0fa";
    position: absolute;
    left: -80px;
    top: 24px;
    font-size: 60px;
    color: #67c9e0;
}
.fa-user-md::before{
    content: "\f0f0";
    position: absolute;
    left: -80px;
    top: 24px;
    font-size: 60px;
    color: #67c9e0;
}
.fa-ambulance::before{
    content: "\f0f9";
    position: absolute;
    left: -85px;
    top: 24px;
    font-size: 60px;
    color: #67c9e0;
}
.col-4{
    width: 300px;
    position: relative;
}
.col-8{
    width: 720px;
}
.text-title{
    text-align: center;
}
.Medical-Specialists{
    background-color: #f0f5f7;
}
.col-info-doctor{
    width: 285px;
}
.card-header>img{
    width: 100%;
}
.card-footer,.card-body{
    text-align: center;
}
.button{
    text-align: center;
}
.fa-plus::before{
    content: "\f067";
}
.fa-plus{
    position: relative;
    left: 132px;
    font-size: 10px;
}
.grow{
    display: flex;
    justify-content: space-between;
}
.col-Health-and-Medical{
    width: 380px;
}
.card-body>i{
    position: relative;
    left: 150px;
}