body
{
	margin : 0 auto;
}
.ligth img
{
	max-width: 40px;
	height: auto;
	position: absolute;
	right: 30px;
	top: 30px;
	
}
.main
{
	background-image: linear-gradient(81deg, #ffb400 0%,#ffb400 18%,#000000 18%,#000000 100%);
	width: 100%;
    height: 100vh;
	display: flex;
	align-items: center;

}
.img
{
    margin: 41px;
	margin-top: 41px;
    margin-bottom: 45px;
	box-shadow: inset;
	
}

.img img{
	
	height: calc(100vh - 90px);
	border-radius: 30px;
	box-shadow: 0 0 7px rgb(0 0 0 / 90%);
}
.content-h1
{
	font-size: 51px;
	color: #ffb400;
	font-weight: 700;
	font-family: "Poppins",sans-serif;
	margin: 0 auto;
}
.content-span
{
	margin-top: 40px;
	font-size: 51px;
	font-weight: 700; ;
	color: #fff;
	font-family: "Poppins",sans-serif;
	padding-bottom: 10px;
	padding-left: 67px;
}
.content
{
	max-width: 600px;
    padding-left: 150px;
}
.content p
{
	margin: 15px 0 28px;
    font-size: 16px;
	line-height: 35px;
	color: #ffffff;
	font-family: "Poppins",sans-serif;
    
}
.button
{
	border-radius: 40px;
    padding: 13px 50px 8px 25px;
    background: black;
    color: white;
    border: 2px solid #ffd900;
    position: relative;
	transition: all 0.30s ease-in-out;
	overflow: hidden;
}

.button:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 150%;
	top: 0;
	left: 100%;
	background: #ffd900;

	z-index: 1;

	transition: all 0.30s;
}

.button:hover:before {
	left: 0;
}

.button .text {
	position: relative;
	z-index: 2;
}
.text
{
	padding-top: 10px;
}

.button .icon
{
	font-size: 15px;
	display: inline-block;
    height: 40px;
    width: 40px;
    background: #ffd900;
    border-radius: 40px;
    line-height: 40px;
    position: absolute;
    right: -1px;
    top: -2px;
	z-index: 2;
}
.menu 
{
	position:absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 50%;
	transform: translate(0, -50%);
    right: 40px;
	border-radius: 30px;
	right: 50px;
	color: #fff;
	
}
.icon-box
{
	height: 65px;
	position: relative;
}
.icon-box img
{
	max-width: 40px;
	position: relative;
	z-index: 2;
}
.icon-box:hover .home
{
	opacity: 1;
	width: 95px;

}
.icon-box .home
{
	transition: all 1s;
    position: absolute;
    right: -4px;
    top: 0px;
    width: 0px;
    padding-right: 40px;
    background-color: #ffb400;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    opacity: 0;
	z-index: 1;
}

.icon-box:hover .about
{
	width: 95px;
	opacity: 1;
}
.icon-box .about
{
	transition: all 1s;
    position: absolute;
    right: -4px;
    top: 0px;
    width: 0px;
    padding-right: 40px;
    background-color: #ffb400;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
	opacity: 0;
	z-index: 1;
}
.icon-box:hover .portfolio
{
	width: 130px;
	opacity: 1;
}
.icon-box .portfolio
{
	transition: all 1s;
    position: absolute;
    display: inline-block;
    right: -6px;
    top: 0px;
    width: 0px;
    padding-right: 50px;
    background-color: #ffb400;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.icon-box:hover .contact
{
	width: 95px;
	opacity: 1;
}
.icon-box .contact
{
	transition: all 1s;
    position: absolute;
    right: -4px;
    top: 0px;
    width: 0px;
    padding-right: 40px;
    background-color: #ffb400;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
	opacity: 0;
	z-index: 1;
}

.icon-box:hover .blog
{
	width: 95px;
	opacity: 1;
}
.icon-box .blog
{
	transition: all 1s;
    position: absolute;
    right: -4px;
    top: 0px;
    width: 0px;
    padding-right: 40px;
    background-color: #ffb400;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
	opacity: 0;
	z-index: 1;
}